
<div class="container">
<h3>Angular Cli - Kitchen Sink App</h3>
<p>Welcome to Angular Kitchen Sink Style App/Project. To Clone/Download Repo and run locally click link below. Follow Project progress on Project Task Board.</p>
<p>&nbsp;</p>
<h4>Github Repository (Get the Code !)</h4>
<p><a title="Github Repo" href="https://github.com/michbru/AngularCli" target="_blank" rel="noopener">https://github.com/michbru/AngularCli</a></p>
<p>&nbsp;</p>
<h4>Project Task Board (Todos, Doing, Dones)</h4>
<p><a title="Project Task Board" href="https://github.com/michbru/AngularCli/projects/1" target="_blank" rel="noopener">https://github.com/michbru/AngularCli/projects/1</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Disclaimer: I make no full claim of originality (per se) in this Kitchen Sink Assortment. As I expand my Angular Learning in some cases I start from scratch. In other cases 
    I leverage/adapt public work of others. I might change an entity to a different structure and in so doing learn underlying principles of why
    a particular feature worked. I might take a display only table and make it editable. I might take Bootstrap tabs and animate them and add CRUD functionality. My thanks to those
who publicly publish their work so we can continue to learn.</p>
</div>